h2 {
  text-align: center;
}

.cardBtnShow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
  background-color: #adb5bd;
  border-radius: 3px;
  border: solid 2px #212529;
  box-shadow: 2px 2px 6px grey;
  font-size: 12px;
  padding: 1.9vh .9vw 1.9vh .9vw;
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}

.setShowContainer {
  margin-bottom: 13vh;
}

.cardBtnShow:hover {
  color: #fff;
  background-color: #212529;
}

.cardIdxShow {
  display: grid;
  justify-content: right;
  align-items: right;
  height: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.cardPromptShow {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.btnCardCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardAnswerShow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  border-radius: 10px;
  border: none;
  font-size: 2.75rem;
  padding: 2.5vh .9vw 2.5vh .9vw;
  margin: 20px;
  font-weight: bold;
  color: #5DB7DE;
}

.setNoShow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width:430px) {
  .cardPromptShow {
    width: 80vw;
    max-width: 80vw;
  }
}