.card:hover {   
  width: 26vw;
  height: 21vh;
}

.setCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
  width: 25vw;
  min-height: 20vh;
  background-color: #343a40;
  border-radius: 3px;
  box-shadow: 5px 5px 15px grey;
  border: solid 3px #212529;
}

.setHeader {
  width: 23vw;
  word-wrap: anywhere;
}

@media only screen and (min-width:1500px) {
  .setCard {
    min-width: 18vw;
    width: 18vw;
  }
}

@media only screen and (max-width:430px) {
  .setCard {
    width: 65vw;
  }
  .setHeader {
    width: 60vw;
  }
}