.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: .5rem;
  color: #5DB7DE;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.inputContainerP {
  margin-right: 105px;
}

.inputContainerPa {
  margin-right: 40px;
}

.inputContainerUp {
  margin-left: 260px;
  color: #5DB7DE;
}
