body {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  background-image: url(../public/images/pexels-adrien-olichon-2387793.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #07020D;
  --accent: white;
  --background: #F1E9DB;
  --secondary: #A39B8B;
  --secondary-dark: #716A5C;
}

.btn.btn-danger {
  margin: 5px;
  border: solid 2px #212529;
  box-shadow: 2px 2px 6px grey;
  font-size: 12px;
}

.btn.btn-secondary {
  border: solid 2px #212529;
  box-shadow: 2px 2px 6px grey;
  font-size: 12px;
  margin: 5px ;
}

a {
  color: var(--accent);
  padding: 0px;
  border-radius: none;
  text-decoration: none !important;
}

a.active {
  color: var(--background);
  background-color: var(--black);
  cursor: default;
}

a:hover {
  color: white;
}

nav > a {
  margin-left: 15px;
}

.m-left {
  margin-left: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
  width: fit-content;
  min-width: 35vw;
  min-height: 20vh;
  background-color: #343a40;
  border-radius: 3px;
  box-shadow: 5px 5px 15px grey;
  border: solid 3px #212529;
  margin-bottom: 13vh;
}


.card-body {
  margin: 1vh;
  border-radius: 3px;
  padding: 0px;
}

#category-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  border: 30px 30px;
}

h1 {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

h2{
  color: rgba(245, 245, 245, 0.747);
}

h3 {
  color: white;
  max-width: 50vw;
  padding: 1vw;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 30px auto;
}

select{
  margin: 30px auto;
}

.app-title {
  font-size: 60px;
  margin-bottom: 5vh;
  padding-top: 5vh;
}

.material-symbols-outlined {
  padding: 1vh;
  margin: .5vh;
  font-size: 3rem;
}

@media only screen and (min-width:1500px) {
  .card {
    min-width: 5vw;
  }
}