body {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  background-image: url(../public/pexels-adrien-olichon-2387793.jpg);
  background-size: cover;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #07020D;
  --accent: #5DB7DE;
  --background: #F1E9DB;
  --secondary: #A39B8B;
  --secondary-dark: #716A5C;
}

a {
  color: var(--accent);
  padding: 1vmin;
  border-radius: none;
  text-decoration: none !important;
}

a.active {
  color: var(--background);
  background-color: var(--black);
  cursor: default;
}

a:hover {
  color: #5DB7DE;
}

nav > a {
  margin-left: 15px;
}

.m-left {
  margin-left: 10px;
}

.card {
  margin: 30px;
  background-color: rgb(24, 63, 63);
  border-radius: 3px;
  box-shadow: 10px 10px 10px #000000;
  border: solid 2px lightcoral;
}

.card-body {
  border-radius: 3px;
}

h1 {
  /* color: #5DB7DE; */
  color: white;
}

#category-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  border: 30px 30px;
}

h1 {
  display: flex;
  /* color: #5DB7DE; */
  color: white;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 30px;
}

input {
  margin: 30px auto;
}

select{
  margin: 30px auto;
}

.label {
  color: #5DB7DE;
}

.app-title {
  font-size: 60px;
  margin: 5vh;
}